<%- include ('partials/header')  %>
<title>Create</title>
<div class="container-fluid">
<div class="alert alert-primary alert-dismissible  " style='display :none;z-index:11;width: 90%;position: absolute;' id="blog_success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <strong>Blog created ...</strong>
</div>
<div class="jumbotron page_jumbo p-4">
    <div class="container">
        <h4 class="display text-center  blog_header font-weight-bold" style="margin-top: 80px;">Create Blog</h4>
        <hr class="my-2">
       
    </div>
</div>

<% if(typeof errors != 'undefined') { %>
    <%- include("partials/Validation-Errors") %>
     <%  }%>
<form method="POST" action="/blog/create" name="myblog" id="blog_c_form" class="p-4 ">
 
<div class = "form-group row justify-content-center mb-4    ">
    <label class="col-md-2 font-weight-bold blog_field_label text-md-center" for = "blog_title">Title</label>
    <span><%  (typeof title != 'undefined')?title:''  %></span>
    <input type = "text" class = "form-control col-md-9" value="<%=  (typeof userInput != 'undefined')?userInput.blog_title :''  %>"   maxlength="40" name="blog_title" id = "blog_c_title" placeholder = "Enter Blog Title(max. 40 letters)">
    <div style="position: absolute;left:85%;"  class="input-group-append input-group-text p-1 " style="">
    <span class="" id="blog_c_titleLength">0</span> <span class="" id="blog_c_titleLimit">/40</span> 
</div>


  

</div>

<div class = "form-group row justify-content-center mb-4">
    <label class="col-md-2 font-weight-bold text-md-center blog_field_label" for = "blog_category">Category</label>
    <input type = "text" class = "form-control col-md-9" value="<%=  (typeof userInput != 'undefined')?userInput.blog_category :''  %>"     placeholder = "Enter Blog Category(max. 15)" maxlength="15" id = "blog_c_category" name="blog_category" placeholder = "Enter Blog Category">
    <div class="input-group-append input-group-text p-1 " style="position: absolute;left:85%;">
        <span class="" id="blog_c_categoryLength">0</span> <span class="" id="blog_c_categoryLimit">/15</span> 
    </div> 
</div>

 
  
<div class = "form-group row justify-content-center mb-4">
    <label class="col-md-2 pl-4 font-weight-bold text-md-center blog_field_label" for = "blog_content">Content</label>
    <textarea  class="col-md-9 form-control p-1 "  value="<%=  (typeof userInput != 'undefined')?userInput.blog_content:''  %>"  rows="15" name="blog_content"></textarea>
 </div>
 <div class="form-group row justify-content-center">
<input type="submit" value="Create" id="create_blog" class="btn btn-lg btn-outline-dark btn_hover  btn_form m-2">
<input type="reset" value="Clear" class="btn btn-lg btn-warning btn_form_clear btn_hover btn-outline-dark m-2 btn_form">

</div>
</form>
</div>
<script>
</script>
<script src="/scripts/main.js"></script>
<%- include ('partials/footer') %>

