<% if(typeof data == "undefined")  {%>
    <%-  include("partials/header") %> 
    <% }   else { %>
       <%-  include("partials/header-login") %>
      <% } %>
      
        <title>Create</title>
<div class="container-fluid" style="margin-top: 4rem;">
   

    <div class="modal fade " id="myModal">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
    
            <div class="modal-body alert-danger p-1 ">
             <h6 class="alert-danger text-center  mb-3">Please fill the following details:</h6>
                <div class = "d-block " id="error_box"></div>
          
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer alert-danger">
              <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Back 
                  <i class="fa fa-backward" aria-hidden="true"></i> </button>
            </button>
            </div>
            
          </div></div></div>


<div class="jumbotron page_jumbo p-4">
    <div class="container text-center ">
    
        <h4 class="display text-center  blog_header font-weight-bold" >Create Blog</h4>
        <hr class="my-2">
       
      
 
   
    </div>
</div>
<% if(typeof errors != 'undefined') { %>
    <%- include("partials/showerrors") %>
     <%  }  %>
<form method="POST" action="/blogs/create" name="myblog" id="blog_c_form" class="p-4 ">
 
<div class = "form-group row justify-content-center mb-4    ">
    <label class="col-md-2 font-weight-bold blog_field_label text-md-center" for = "blog_title">Title</label>
    <span><%  (typeof title != 'undefined')?title:''  %></span>
    <input type = "text" class = "form-control col-md-9" value="<%=  (typeof userInput != 'undefined')?userInput.blog_title :''  %>"   maxlength="40" name="blog_title" id = "blog_c_title" placeholder = "Enter Blog Title(max. 40 letters)">
    <div style="position: absolute;left:85%;"  class="input-group-append input-group-text p-1 " style="">
    <span class="" id="blog_c_titleLength">0</span> <span class="" id="blog_c_titleLimit">/40</span> 
</div>


  

</div>

<div class = "form-group row justify-content-center mb-4">
    <label class="col-md-2 font-weight-bold text-md-center blog_field_label" for = "blog_category">Category</label>
    <input type = "text" class = "form-control col-md-9" value="<%=  (typeof userInput != 'undefined')?userInput.blog_category :''  %>"     placeholder = "Enter Blog Category(max. 15)" maxlength="15" id = "blog_c_category" name="blog_category" placeholder = "Enter Blog Category">
    <div class="input-group-append input-group-text p-1 " style="position: absolute;left:85%;">
        <span class="" id="blog_c_categoryLength">0</span> <span class="" id="blog_c_categoryLimit">/15</span> 
    </div> 
</div>

 
  
<div class = "form-group row justify-content-center mb-4">
    <label class="col-md-2 pl-4 font-weight-bold text-md-center blog_field_label" for = "blog_content">Content</label>
    <textarea  class="col-md-9 form-control p-1 "  value="<%=  (typeof userInput != 'undefined')?userInput.blog_content:''  %>"  rows="15" name="blog_content"></textarea>
 </div>
 <div class="form-group row justify-content-center">
<input type="submit" value="Create" id="create_blog" class="btn btn-lg btn-outline-dark btn_hover  btn_form m-2">
<input type="reset" value="Clear" class="btn btn-lg btn-warning btn_form_clear btn_hover btn-outline-dark m-2 btn_form">

</div>
</form>
</div>
<script>
</script>
<script defer src="/scripts/main.js"></script>
<script  defer src="/scripts/createblog.js"></script>
<%- include ('partials/footer') %>

