<%- include('partials/header') %>
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <label class="modal-title text-center font-weight-bold">Are you sure?</label>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body p-2 m-2">
            <div class="form-group">
       <label class=""  > Enter the blog title <kbd><%= blog.title %></kbd></label>
          <input  type="text" class="form-control p-2 " id="delete_title"></div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-outline-danger" data-blogid="<%= blog._id %>" data-blogtitle="<%= blog.title %>"  id="delete_confirm" data-dismiss="modal">Confirm <i class="fa fa-trash" aria-hidden="true"></i> </button>
          <button type="button" class="btn btn-outline-dark" id="delete_cancel" data-dismiss="modal">Cancel  <i class="fa fa-backward" aria-hidden="true"></i> </button>
        </div>
        
      </div>
    </div>
  </div>
  

<div  class="container">
    <div class="jumbotron ">
        <div class="container">
            <h1 class="display-4 text-center font-weight-normal"><%= blog.title %></h1>
            <hr class="my-2">
        </div>
    

    <div class="card border-dark  col-12 ">
        <div class="card-body ">
          <h5 class="card-title"><%= blog.category %></h5>
          <p><%= blog.content %></p>
        </div>
        <div class="d-flex justify-content-center  p-2">
            <!--<a href="/blog/<%= blog._id %>/delete"  data-toogle="model" data-target="#mymodal" data-toogle="tooltip" title="Delete this blog!!!"><button  class="btn btn-md btn-outline-danger m-2"> <i class="fa fa-trash" aria-hidden="true"></i>
            </button></a>-->
    <button  class="btn btn-md btn-outline-danger m-2" id="delete_post" data-toggle="modal" data-target="#myModal">  <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
        <a class="btn btn-md btn-outline-info m-2" data-toogle="tooltip" title="Edit this blog" href="/blog/<%= blog._id %>/edit" role="link"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
        </div>
</div>
<script defer src="/scripts/main.js"></script>
 <%- include('partials/footer') %>
